
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paage</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom font -->
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">


	<title>Paage</title>
	<meta name="title" content="Paage">
	<meta name="description" content="Track how your page gets shared">

	<!-- Facebook tags -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Paage">
	<meta property="og:description" content="Track how your page gets shared">
	<meta property="og:image" content="https://paage.io/images/splash/og.png">

	<!-- Twitter tags -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:title" content="Paage">
	<meta property="twitter:description" content="Track how your page gets shared">
	<meta property="twitter:image" content="https://paage.io/images/splash/og.png">
	
	<!-- Tailwind -->
	<link rel="stylesheet" href="/css/output.css?v=1">

	<!-- Refer -->
	<script src="https://referlist.co/resources/referlist.js" type="text/javascript"></script>
	<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		window.referlist.initialize({ domain: 'paage' });
	});
	</script>

	<!-- End referlist signup form -->
	
</head>

<body class="bg-blue-50 antialiased">

	<!-- NavBar -->
	<nav class="w-full">
		<div class="max-w-7xl mx-auto py-6 px-4">
			<a href="/">
				<img src="/images/splash/logo.svg" class="h-8">
			</a>
		</div>
	</nav>

	<!-- Notifications -->
	<div class="flex items-center select-none px-4">
		<div class="inline-block mx-auto">
			<div class="space-y-6 flex flex-col items-center pt-12 sm:pt-20 text-lg sm:text-xl font-medium text-gray-900">
				<div class="inline-block scale-75 opacity-0 transition duration-500 delay-100 ease-out" data-replace='{ "opacity-0": "opacity-100", "scale-75": "scale-100"}'>
					<div class="inline-flex items-center px-6 py-5 bg-white rounded-xl shadow-md">
						<div class="h-6 w-6 mr-4 bg-indigo-500 text-white rounded-md flex items-center justify-center flex-none">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
							</svg>
						</div>
						Max viewed your page for 4 min
					</div>
				</div>

				<div class="inline-block scale-75 opacity-0 transition duration-500 delay-1000 ease-out" data-replace='{ "opacity-0": "opacity-100", "scale-75": "scale-100"}'>
					<div class="inline-flex items-center px-6 py-5 bg-white rounded-xl shadow-md">
						<img src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://slack.com&size=32" class="h-6 mr-4 flex-none">
						Jennifer shared your page on Slack
					</div>
				</div>

				<div>
					<div class="inline-block scale-75 opacity-0 transition duration-500 delay-2000 ease-out" data-replace='{ "opacity-0": "opacity-100", "scale-75": "scale-100"}'>
						<div class="inline-flex items-center px-6 py-5 bg-white rounded-xl shadow-md">
							<div class="h-6 w-6 mr-4 bg-amber-400 text-white rounded-md flex items-center justify-center flex-none">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
								</svg>
							</div>
							Dave didn't scroll past the first paragraph
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Title -->
	<div class="mt-20 max-w-4xl mx-auto px-6 flex flex-col items-center mb-24 sm:mb-32">
		<h1 class="text-slate-900 font-extrabold text-4xl md:text-5xl lg:text-6xl lg:leading-tight text-center opacity-0 translate-y-16 delay-2500 transition ease-in-out duration-1000" data-replace='{ "opacity-0": "opacity-100", "translate-y-16": "translate-y-0"}'>Make a page and track how it gets shared</h1>

		<!-- Form -->
		<form id="referlistform" class="referlistcontainer mt-12 inline-block text-lg opacity-0 transition duration-300 delay-3700" data-replace='{ "opacity-0": "opacity-100"}'>
			<div class="referlistinnercontainer sm:flex items-center justify-content space-y-4 sm:space-y-0 text-center">
				<input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none leading-6 text-slate-900 placeholder-slate-400 rounded-md py-3 px-8 ring-1 ring-slate-200 shadow-sm inline-block transition" type="text" id="referlistemail" placeholder="email@company.com">

				<input type="button" id="referlistbutton" value="Join waitlist" class="bg-indigo-500 rounded-md text-white px-8 hover:bg-indigo-600 font-medium py-3 sm:ml-3 hover:cursor-pointer transition" />
			</div>
		</form>

		<!-- Features -->
		<div class="mt-24 sm:grid grid-cols-3 gap-x-24 max-w-4xl opacity-0 transition duration-300 delay-3700 space-y-12 sm:space-y-0 px-4 text-center" data-replace='{ "opacity-0": "opacity-100"}'>

			<div class="flex-col items-center justify-center">
				<div class="bg-white border border-gray-300 rounded-xl p-2 inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-10 mx-auto text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
					</svg>
				</div>
				<p class="text-lg mt-4 font-medium">Notion style editing</p>
				<p class="text-lg mt-2 text-slate-500">Embed videos, calendly, images, and more</p>
			</div>

			<div class="flex-col items-center justify-center">
				<div class="bg-white border border-gray-300 rounded-xl p-2 inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-10 mx-auto text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
					</svg>
				</div>
				<p class="text-lg mt-4 font-medium">See who shares it</p>
				<p class="text-lg mt-2 text-slate-500">Know when someone shares it in Slack</p>
			</div>

			<div class="flex-col items-center justify-center">
				<div class="bg-white border border-gray-300 rounded-xl p-2 inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-10 mx-auto text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
					</svg>
				</div>
				<p class="text-lg mt-4 font-medium">View time spent</p>
				<p class="text-lg mt-2 text-slate-500">Per prospect, and how much they scrolled</p>
			</div>
		</div>

		<!-- Where it can track -->
		<!-- <div class="sm:flex items-center text-left mt-32 w-full">
			<p class="text-lg mt-4 font-medium flex-grow">Track when it's shared on</p>
			<div class="flex items-center space-x-4">
				<img class="w-14 rounded-xl" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/dx45ddcla8rzhqyaj2a5">
				<img class="w-14 rounded-xl" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/v1427350257/wpkynammpv4fycrorgeb.png">
				<img class="w-14 rounded-xl bg-white" src="https://upload.wikimedia.org/wikipedia/commons/5/56/IMessage_logo_%28Apple_Inc.%29.png">
				<img class="w-14 rounded-xl" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/v1398126453/adu2g57bgen4u9lb1kb1.png">
				<img class="w-14 rounded-xl" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco,dpr_1/v1397180207/d242197edc3ff044620cf2d8ff39d6b3.jpg">
			</div>
		</div> -->
	</div>

	<!-- Describe features -->
	<div class="bg-white border-t-2 border-slate-200 pt-8 sm:pt-16 pb-16 sm:pb-24">
		
		<div class="relative max-w-2xl lg:max-w-3xl mx-auto py-16 lg:py-24 px-6 md:px-12 text-lg md:text-xl text-gray-600 md:leading-relaxed">
			<p class="text-2xl text-gray-900 mb-8 font-semibold">Don't lose a deal that you could've won</p>
			<div class="space-y-6">
				<p>Let's talk about email opens.</p>
				<p>We keep our eyes peeled hoping to find someone who opens our message more than once.</p>
				<p>The problem is, email opens are notoriously faulty. Did they actually open my email or is Gmail playing tricks with me? Did they spend time reading my message, or open and hit delete?</p>
				<p>To make matters worse, so many conversations these days happen on Slack or in group chats. How do you know if someone shared your pitch outside of their email?</p>
				<p>Your prospect could be talking about you right now and you wouldn't even know it. AGH!</p>
				<p>Until now. With Paage you'll be able to peel back the curtain.</p>
				<p>Make your pitch linkable with a page and share it with your prospects. Track how long someone views it and if they share it. </p>
				<p>Did they post your pitch in their Slack or iMessage? Are those colleagues then reading your pitch? You'll know.</p>
				<p>See who's genuinely interested...and who's not.</p>
				<p>Focus your attention on your most engaged prospects and win.</p>
				<p>I'm excited to show you more. Stay tuned.</p>
				<p>Your friend,</p>
			</div>
			<p>Neil</p>
		</div>
		
	</div>


</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">

	document.addEventListener("DOMContentLoaded", function(){
		var replacers = document.querySelectorAll('[data-replace]');
		for(var i=0; i<replacers.length; i++){
			let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
			Object.keys(replaceClasses).forEach(function(key) {
				replacers[i].classList.remove(key);
				replacers[i].classList.add(replaceClasses[key]);
			});
		}
	});

</script>


</html>



