
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OnePageKit</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Custom font -->
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">


	<title>OnePageKit</title>
	<meta name="title" content="OnePageKit">
	<meta name="description" content="Personalized one-pagers for your prospects">

	<!-- Facebook tags -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://onepagekit.com/">
	<meta property="og:title" content="OnePageKit">
	<meta property="og:description" content="Personalized one-pagers for your prospects">
	<meta property="og:image" content="https://onepagekit.com/images/splash/og.png">

	<!-- Twitter tags -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://onepagekit.com/">
	<meta property="twitter:title" content="OnePageKit">
	<meta property="twitter:description" content="Personalized one-pagers for your prospects">
	<meta property="twitter:image" content="https://onepagekit.com/images/splash/og.png">
	
	<!-- Tailwind -->
	<link rel="stylesheet" href="css/output.css">

	<!-- Refer -->
	<script src="https://referlist.co/resources/referlist.js" type="text/javascript"></script>
	<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		window.referlist.initialize({ domain: 'onepagekit' });
	});
	</script>
	
	<!-- End referlist signup form -->
	
</head>

<body class="overflow-x-hidden antialiased text-left bg-red-500 h-screen w-full bg-slate-800 flex items-center justify-center">

	<div class="bg-white rounded-xl shadow-md px-16 py-12 text-center mx-auto inline-block">
		<img src="/images/splash/logo.png" class="h-16 mx-auto">
		<p class="text-slate-900 font-bold text-xl mt-4">Coming Soon</p>

		<form id="referlistform" class="referlistcontainer mt-10 inline-block text-lg">
			<div class="referlistinnercontainer sm:flex items-center justify-content space-y-4 sm:space-y-0">
				<!-- <input class="" type="text" id="referlistemail" placeholder="email@yourcompany.com"/> -->
				<input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none leading-6 text-slate-900 placeholder-slate-400 rounded-md py-3 px-8 ring-1 ring-slate-200 shadow-sm inline-block transition" type="text" id="referlistemail" placeholder="email@company.com" autofocus="">


				<input type="button" id="referlistbutton" value="Join waitlist" class="bg-indigo-500 rounded-md text-white px-8 hover:bg-indigo-600 font-medium py-3 ml-3 hover:cursor-pointer transition" />
			</div>
		</form>

	</div>

</body>

</html>